{% extends "authen/base.html" %} 

{% block title %} 
  Login 
{% endblock %}

{% block content %} 
  <div class ="container w-50 mt-5 p-3  border"> 
      {% load crispy_forms_tags %}
      <form method="POST" class="form-group">
        {% csrf_token %} 
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary mt-3">Login</button>

        <p class="text-center mt-5">Don't have an accout? <a href="{% url 'register' %}">Create an account</a> </p>
        <p class="text-center mt-2">Forgot password? <a href="{% url 'password_reset' %}">Reset password</a> </p>

      </form>
      <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">

          <div class="d-grid gap-3 col-6 mx-auto">
              <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger text-light" role="button">
                Login with Google
              </a>
              <a href="{% url 'social:begin' 'facebook' %}" class="mt-3 btn btn-primary text-light" role="button">
                Login with Facebook 
              </a>
            </div>
          </div>
        </div>
  </div>
{% endblock %}
