<h1 style="text-align: center">Featured Campaigns</h1>
<div
  id="carouselExample"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    {% for campaign in featured_campaigns %} {% if forloop.first %}
    <div class="carousel-item active">
      {% else %}
    <div class="carousel-item">
        {% endif %}
      <div id="banner-one">
          <img src="{{campaign.images.first.path.url}}" />
        <div class="content">
            <a href="{%url 'campaign_show' campaign.id%}"><h1>{{campaign.title}}</h1></a>
            <p>Created by <strong>{{campaign.creator}}</strong></p>
            <p class="card-text mb-auto cut-text" >
              {{campaign.details}}
            </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <hr />