{% extends "authen/base.html" %} 

{% block title %} 
Password Reset
{% endblock %}

{% block content %} 
{% load crispy_forms_tags %}

<div class="card-body w-25 m-auto card mt-5">
    <h3 class="card-title text-center">Change password</h3>
    <div class="card-text">
        <form mehtod="post ">   
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" name="Update Password" class="btn btn-primary btn-block">Change my passwrd</button>
        </form>
    </div>
</div>	
{% endblock %}