@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
body {
  background: #fff;
  font-family: Montserrat;
}

svg {
  margin-bottom: 2em;
}

.rating__background {
  fill: #ffe372cb;
  stroke: red;
  stroke-width: 1;
  height: 100%;
  width: 100%;
}

.rating__value {
  fill: #ffb94b;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  grid-template-rows: 0.4fr 0.1fr 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "details details details details"
    "... days rating ..."
    "donations donations donations donations"
    "tags tags tags tags";
}

.images {
  margin: 20px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

#description {
  background-color: rgba(252, 246, 250, 0.979);
  border-radius: 1rem;
  margin: 4vh 4vw;
}

.details {
  grid-area: details;
}
.donations {
  grid-area: donations;
}

.rating {
  grid-area: rating;
}

.tags {
  grid-area: tags;
  text-align: center;
  margin: 10px 10px;

}
.days {
  grid-area: days;
  margin: auto;
}
.days p{
  margin: auto;
}
.carousel-item img {
  max-height: 60vh;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information h1 {
  color: rgb(88, 0, 129);
}
.information h5 {
  color: rgba(82, 56, 80, 0.705);
}
.information p {
  text-align: center;
  margin: 10px 20px;
}

.donations progress {
  width: 95%;
  margin: 10px;
}

.text-stat-title {
  color: #767676;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21;
}
.donations h2 {
  text-align: center;
}

.rating {
  width: 7rem;
  margin: auto;
}

#comments img{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.carousel img{
  border-radius: 1rem;
}
.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}
.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: block;
  transition: transform 0.6s ease;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-next {
  right: 0;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}
 /* User ratings */
 .user-actions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

* { box-sizing: border-box; }

.rate {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 40px;
  position: relative;
}

.rate-0 {
  filter: grayscale(100%);
}

.rate > input {
  display: none;
}

.rate > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rate > input:checked ~ label,
.rate > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rate > input:not(:checked) ~ label:hover,
.rate > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.feedback {
  margin-top: 2vh;
  align-items: center;
    width: 100%;
}

.feedback h4{
  margin: auto;
  width: fit-content;
}