@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
body {
  background: #fff;
  padding: 5em;
  font-family: Montserrat;
}

svg {
  margin-bottom: 2em;
}

.rating__background {
  fill: #ffe372cb;
  stroke: red;
  stroke-width: 1;
  height: 100%;
  width: 100%;
}

.rating__value {
  fill: #ffb94b;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  grid-template-rows: 0.4fr 0.1fr 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "details details details details"
    "... days rating ..."
    "donations donations donations donations"
    "tags tags tags tags";
}

.images {
  margin: 20px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.card {
  background-color: rgba(252, 246, 250, 0.979);
  border-radius: 1rem;
}

.details {
  grid-area: details;
}
.donations {
  grid-area: donations;
}

.rating {
  grid-area: rating;
}

.tags {
  grid-area: tags;
  text-align: center;
  margin: 10px 10px;

}
.days {
  grid-area: days;
  margin: auto;
}
.days p{
  margin: auto;
}
.carousel-item img {
  max-height: 60vh;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information h1 {
  color: rgb(88, 0, 129);
}
.information h5 {
  color: rgba(82, 56, 80, 0.705);
}
.information p {
  text-align: center;
  margin: 10px 20px;
}

.donations progress {
  width: 95%;
  margin: 10px;
}

.text-stat-title {
  color: #767676;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21;
}
.donations h2 {
  text-align: center;
}

.rating {
  width: 7rem;
  margin: auto;
}
