@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
body {
  background: #fff;
  font-family: Montserrat;
}

svg {
  margin-bottom: 2em;
}

.rating__background {
  fill: #ffe372cb;
  stroke: red;
  stroke-width: 1;
  height: 100%;
  width: 100%;
}

.rating__value {
  fill: #ffb94b;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  grid-template-rows: 0.4fr 0.1fr 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "details details details details"
    "... days rating ..."
    "donations donations donations donations"
    "tags tags tags tags";
}

.images {
  margin: 20px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

#description {
  background-color: rgba(251, 246, 252, 0.979);
  border-radius: 1rem;
  margin: 4vh 4vw;
}

.details {
  grid-area: details;
}
.donations {
  grid-area: donations;
}

.rating {
  grid-area: rating;
}

.tags {
  grid-area: tags;
  text-align: center;
  margin: 10px 10px;

}
.days {
  grid-area: days;
  margin: auto;
}
.days p{
  margin: auto;
}

.carousel-item {
  max-height: 350px;
}
.carousel-item img {
  max-height: 30vh;
  min-height: 30vh;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information h1 {
  color: rgb(88, 0, 129);
}
.information h5 {
  color: rgba(82, 56, 80, 0.705);
}
.information p {
  text-align: center;
  margin: 10px 20px;
  display: inline-block;
  word-break: break-word;
}

.donations progress {
  width: 95%;
  margin: 10px;
}

.text-stat-title {
  color: #767676;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21;
}
.donations h2 {
  text-align: center;
}

.rating {
  width: 7rem;
  margin: auto;
}

#comments img{
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

 /* User ratings */
 .user-actions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Desktop and up */

@media screen and (min-width: 992px) {
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

* { box-sizing: border-box; }

.rate {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 40px;
  position: relative;
}

.rate-0 {
  filter: grayscale(100%);
}

.rate > input {
  display: none;
}

.rate > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rate > input:checked ~ label,
.rate > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rate > input:not(:checked) ~ label:hover,
.rate > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.feedback {
  margin-top: 2vh;
  align-items: center;
    width: 100%;
}

.feedback h4{
  margin: auto;
  width: fit-content;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 20px;;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover,
.next1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.active{
  opacity: 1;
}

.images img{
    border-radius: 1rem;
  width: 300px;
  height: 400px;
}

.images {
  margin: 20px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.card-body {
  text-align: center;
}

.card-body img{
  width:60%;
  height: 60%;
}

.js-comment-delete{
  display: none;
} 
