{% extends 'layouts/base-categories.html'%}
{% load static %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="container m-auto p-3 mt-5 w-25 border">
        <form method="post" action="{% url 'campaign_donate' campaign.id %} ">
            {% csrf_token %}
            <h3 class="text-center mb-5"> Help {{campaign.creator.first_name}}!</h3>
            <div class="input-group mb-3">
                <span class="input-group-text">Amount EGP</span>
                <input type="text" class="form-control" name="amount" aria-label="Amount (to the nearest dollar)" value="1">
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} p-2" role="alert">
                       <li> {{ message }}</li>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary mt-3">Donate</button>
            </div>
        </form>
    </div>
{% endblock %}
