
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank" 
                 href="https://github.com/hossamkhalil01/crowd-funding-django" 
                 class="font-weight-bold ml-1">Crowd Funding Django</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href="https://github.com/hossamkhalil01/crowd-funding-django" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; ITI</a> 
                 - coded by <a target="_blank" href="#">Aya | Atef | Hossam | Hossam </a>.
            </div>
          </div>
        </div>
      </footer>
