@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
svg {
  margin-bottom: 2em;
}

.rating__background {
  fill: #ffe372cb;
  stroke: red;
  stroke-width: 1;
  height: 100%;
  width: 100%;
}

.rating__value {
  fill: #ffb94b;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr 1fr;
  grid-template-rows: 0.4fr 0.1fr 0.1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "details details details details"
    "... days rating ..."
    "donations donations donations donations"
    "tags tags tags tags";
}

.images {
  margin: 20px;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

#camp-desc{
  background-color: rgba(252, 246, 250, 0.979);
  border-radius: 1rem;
  margin: 2vh 7vw;
}

.details {
  grid-area: details;
}
.donations {
  grid-area: donations;
}

.rating {
  grid-area: rating;
}

.tags {
  grid-area: tags;
  text-align: center;
  margin: 10px 10px;

}
.days {
  grid-area: days;
  margin: auto;
}
.days p{
  margin: auto;
}

.carousel-item img {
  max-height: 60vh;
  border-radius: 0.5rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information h1 {
  color: rgb(88, 0, 129);
}
.information h5 {
  color: rgba(82, 56, 80, 0.705);
}
.information p {
  text-align: center;
  margin: 10px 20px;
}

.donations progress {
  width: 95%;
  margin: 10px;
}

.text-stat-title {
  color: #767676;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.21;
}
.donations h2 {
  text-align: center;
}

.rating {
  width: 7rem;
  margin: auto;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}
#comment_avatar{
border-radius: 50%;
max-width: 5vh;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
button:hover,
button:focus,
button:active {
  cursor: pointer;
  background-color: #ecf0f1;
}
.comment-thread {
  width: 70vw;
  margin: auto;
  padding: 0 30px;
  background-color: #fff;
  border: 1px solid transparent; /* Removes margin collapse */
}
.m-0 {
  margin: 0;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Comment */

.comment {
  position: relative;
  margin: 20px auto;
}
.comment-heading {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
}
.comment-voting {
  width: 20px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.comment-voting button {
  display: block;
  width: 100%;
  height: 50%;
  padding: 0;
  border: 0;
  font-size: 10px;
}
.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}
.comment-author:hover {
  text-decoration: underline;
}
.replies {
  margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 12px;
  height: calc(100% - 50px);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
.comment-border-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
  padding: 0 20px;
  padding-left: 28px;
}
.replies {
  margin-left: 28px;
}

/* Adjustments for toggleable comments */

details.comment summary {
  position: relative;
  list-style: none;
  cursor: pointer;
}
details.comment summary::-webkit-details-marker {
  display: none;
}
details.comment:not([open]) .comment-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.comment-heading::after {
  display: inline-block;
  position: absolute;
  right: 5px;
  align-self: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.55);
}
details.comment[open] .comment-heading::after {
  content: "Click to hide";
}
details.comment:not([open]) .comment-heading::after {
  content: "Click to show";
}

/* Adjustment for Internet Explorer */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Resets cursor, and removes prompt text on Internet Explorer */
  .comment-heading {
      cursor: default;
  }
  details.comment[open] .comment-heading::after,
  details.comment:not([open]) .comment-heading::after {
      content: " ";
  }
}

/* Styling the reply to comment form */

.reply-form textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}
.d-none {
  display: none;
}

#comment-form{
  margin: 0vh 20vw ;
}