/* SLICK CAROUSEL */

.slick-slide h2{
  font-family: 'Roboto Slab', "Roboto", Helvetica;
  font-size:1rem;
  font-weight:300;
  letter-spacing:1px;
  padding:3px 15px;
  background:rgb(228,112,30);
  color:#fff;
}

.slick-nav .inner{
padding-left: 0px;
padding-right: 0px;
max-width: 1200px;
margin: 0 auto!important;
height:60px;
}
.slick-nav .slick-list{
  position: relative;
  left: 0;
  top: 0;
}
.slick-nav{
  display:block;
  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  background: rgba(228,112,30,.7);
  height:45px;
}
.slide{
  position:relative;
}
.slide-caption{
  min-height: 80px;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: rgba(51,51,51,0.8);
  color: white;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  height: 66%;
  width: 40%;
  bottom: 0;
  margin-left: 0;
  padding: 40px 32px 35px;
}

.slick-slider { 
  position: relative; 
  display: block; 
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  -ms-touch-action: pan-y; 
  touch-action: pan-y; 
  -webkit-tap-highlight-color: transparent;
}

.slick-list { 
  position: relative; 
  overflow: hidden; 
  display: block;
  height:600px;
  margin-top:-45px;
  padding: 0;
}
section.home-section1{
position: relative;
top: 0;
left: 0;
right: 0;
z-index: 3;
background: #fff;
overflow: hidden;
}
.slick-list:focus { 
  outline: none; 
}
.slick-loading .slick-list { 
  background: #fff url("./ajax-loader.gif") center center no-repeat; 
}
.slick-list.dragging { cursor: pointer; cursor: hand;
}
.slick-slider .slick-track { 
  -webkit-transform: translate3d(0, 0, 0); 
  -moz-transform: translate3d(0, 0, 0); 
  -ms-transform: translate3d(0, 0, 0); 
  -o-transform: translate3d(0, 0, 0); 
  transform: translate3d(0, 0, 0); }

.slick-track { 
  position: relative; 
  left: 0; top: 0; 
  display: block; 
}
.slick-track:before, .slick-track:after { 
  content: ""; 
  display: table; 
}
.slick-track:after { 
  clear: both; 
}
.slick-loading .slick-track { 
  visibility: hidden; 
}
.slick-slide { 
  float: left; 
  height: 100%; 
  min-height: 1px; 
  display: none; 
}
[dir="rtl"] .slick-slide { 
  float: right; 
}
.slick-slide img { 
  display: block; 
}
.slick-slide.slick-loading img { 
  display: none; 
}
.slick-slide.dragging img { 
  pointer-events: none; 
}
.slick-initialized .slick-slide { 
  display: block; 
}
.slick-loading .slick-slide { 
  visibility: hidden; 
}
.slick-vertical .slick-slide { 
  display: block; 
  height: auto; 
  border: 1px solid transparent; 
}

/* Icons */
@font-face { 
  font-family: "slick"; 
  src: url("./fonts/slick.eot"); 
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); 
  font-weight: normal; 
  font-style: normal; 
}
/* Arrows */
.slick-prev, .slick-next { 
  position: absolute;
  display: block; 
  height: 20px; 
  width: 20px; 
  line-height: 0; 
  font-size: 0; 
  cursor: pointer; 
  background: transparent; 
  color: transparent; 
  top: 50%; 
  margin-top: -10px; 
  padding: 0; 
  border: none; 
  outline: none;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { 
  outline: none; 
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {     opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { 
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before { 
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev { 
  left: 2px; }
[dir="rtl"] .slick-prev {
  left: auto; right: -25px; 
}
.slick-prev:before { 
  content: "←"; 
}
[dir="rtl"] .slick-prev:before { 
  content: "→";
}

.slick-next { 
  right: 20px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before { 
  content: "→";
}
[dir="rtl"] .slick-next:before { 
  content: "←";
}

/* End Slick Carousel */